services:
    env_django:
        image: ctibutler
        extra_hosts:
            - "host.docker.internal:host-gateway"
        build: .
        volumes:
            - .:/usr/src/app/
            - ./www:/var/www/
        environment:
            - DJANGO_SETTINGS_MODULE=ctibutler.settings
            - CELERY_BROKER_URL=redis://redis:6379/0
            - result_backend=redis://redis:6379/1
        env_file:
            - ./.env
        command: >
                bash -c "
                    python utilities/download_tie_models.py &&
                        python manage.py collectstatic --no-input &&
                            python manage.py makemigrations &&
                                python manage.py migrate
                    "
    django:
        extends: env_django
        command: >
                bash -c "
                    python -m ctibutler.worker.populate_dbs &&
                            gunicorn ctibutler.wsgi:application  --reload --bind 0.0.0.0:8006
                    " 
        ports:
            - 8006:8006
        depends_on:
            - celery
        healthcheck:
            test: ["CMD-SHELL", "curl http://localhost:8006/api/schema/"]
            interval: 10s
            retries: 5
            start_period: 10s
            timeout: 10s

    celery:
        extends: env_django
        command: >
                bash -c "
                  celery -A ctibutler.worker worker -l INFO
                  "
        depends_on:
            redis:
                condition: service_started
    redis:
        image: "redis:alpine"